body {
  text-align: center;
  font-family: "Roboto", monospace;
}
h1 {
  margin: 0 auto;
  font-family: "Major Mono Display", monospace;
  font-size: 48px;
  margin: 2%;
}
h2 {
  font-size: 36px;
  font-weight: lighter;
  margin: 2%;
}
.wins {
  border: 1px solid rgba(0, 0, 0, 0.75);
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  user-select: none;
  width: 150px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.column {
  height: 100%;
  width: 100%;
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
  height: 456px;
  width: 456px;
}
.square {
  border: 1px solid rgba(0, 0, 0, 0.75);
  font-size: 96px;
  height: 150px;
  line-height: 150px;
  user-select: none;
  width: 150px;
}
.square:hover {
  background-color: lightgray;
  cursor: pointer;
}
#table {
  margin-left: auto;
  margin-right: auto;
}
#x_wins {
  border: 1px solid rgba(0, 0, 0, 0.75);
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  user-select: none;
  width: 150px;
}
#o_wins {
  border: 1px solid rgba(0, 0, 0, 0.75);
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  user-select: none;
  width: 150px;
}
#reset-button {
  background-color: white;
  border: 1px solid black;
  color: black;
  font-size: 21px;
  line-height: 55px;
  margin: 1%;
  text-align: center;
  width: 456px;
}
#reset-button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
#table2 {
  margin-left: auto;
  margin-right: auto;
}
#switch:hover {
  background-color: lightgray;
  cursor: pointer;
}
#switch {
  border: 1px solid rgba(0, 0, 0, 0.75);
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  user-select: none;
  width: 300px;
}
